<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Semantic UI + Phoenix + Sass + Webpack!</title>
    <link rel="stylesheet" href="<%= webpack_css_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="ui text container">

      <p class="ui hidden warning message"" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="ui hidden info message" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= webpack_js_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
